body{
  background-color: black;
}

.postcard{
  background-color: white;
  width: 550px;
  height: 350px;
  margin: 10% auto auto auto;
  padding: 15px;
  font-family: 'Chilanka', cursive;
}

.postcard h1{
  margin: 0px;
}

.postcard-header{
  overflow: hidden;
}

.postcard-header img{
  max-width: 60px;
  float: right;
}

.postcard-content{
  overflow: hidden;
  font-size: 18px;
}

.left-content{
  float: left;
  width: 50%;
}

.right-content{
  float: right;
  width: 50%;
}

.right-content input{
  display: block;
  border: none;
  border-bottom: solid 1px;
  font-family: 'Chilanka', cursive;
  width:250px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 18px;
}


.postcard-footer{
  padding: 10px;
  text-align: center;
}

.postcard-footer button{
  font-family: 'Chilanka', cursive;
  font-size: 18px;
}